
/*font-family: 'Didact Gothic', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;*/

* {
  box-sizing: border-box;
  /*border: 1px solid grey;*/
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}


.home {
     float: left;
}

nav {
     margin : 35px 0px 35px 0px;
     text-align: center;
}

nav ul {
     display: inline;
     margin: 20px;
}

.home {
     display: inline;
}
